<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR58OI1PsTNCPwhBxbSkIRkmJ0YpMdkEaUARg&usqp=CAU"
      alt=""
      height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi maximus enim a dignissim maximus. Pellentesque volutpat massa id libero posuere molestie eu ac ex. Nunc pharetra condimentum volutpat.</a></p>
  </div>
</div>
